{#{% extends "email_base.html" %}#}

{% block title %}
    <h1>
        Password Reset
    </h1>
{% endblock %}

{% block content %}
    <div>
        You're receiving this email because you requested a password reset for your user account at {{ site_name }}
        Please go to the following page and choose a new password:
    </div>
    <div style="margin-top: 20px">
        <a href="{{ protocol }}://{{ domain }}/{{ uid }}/{{ token }}">
            {{ protocol }}://{{ domain }}/{{ uid }}/{{ token }}
        </a>
    </div>

{% endblock %}