[report]
omit =
    */environments/development.py
    */environments/local.py.template
    */environments/production.py
    */virtualenvs/*
    *__init__.py
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    def __str__
    # Have to re-enable the standard pragma
    pragma: no cover