[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"django[bcrypt]" = "*"
djangorestframework = "*"
psycopg2 = '==2.7.7'
python-dotenv = "*"
djangorestframework-simplejwt = "*"
django-background-tasks = "*"
requests = "*"
gunicorn = "*"
bcrypt = "*"
django-cors-headers = "*"
"mailchimp3" = "*"

[dev-packages]

[requires]
python_version = "3.7"
